*{
    margin:0;
    padding:0;
    border:0;
}
h1{
    text-align:center;
    font-size:575%;
    color:#4a4444;
    height:600px;
}

h2{
    color:yellow;
    font-size:275%;
}

.parallax{
    background: url("/home/jeff/Code/Italian-Restaurant/app/assets/images/pexels-photo-543733.jpeg")repeat fixed 100%;
    }

    .parallax-inner{
        padding-top:10%;

    }