@font-face {
	font-family: 'Voyage Regular';
	src: url('voyage_regular-webfont.eot');
	src: url('voyage_regular-webfont.eot?#iefix')format('embedded-opentype'),
	url('./voyage_regular-webfont.ttf') format('truetype'),
	url('./voyage_regular-webfont.woff') format('woff');
	}
 
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	box-sizing: border-box;
	background-color: $offwhite;
}

img {
	width: 100%;
	height: auto;
}

h3 {
	font-size: 3em;
	font-family: 'Voyage Regular';
	text-align: center;
	padding: 30px 0;
	font-weight: 300;
}