@font-face {
	font-family: 'Voyage Regular';
	src: url('../../assets/fonts/voyage_regular-webfont.eot');
	src: url('../../assets/fonts/voyage_regular-webfont.eot?#iefix')format('embedded-opentype'),
	url('../../assets/fonts/voyage_regular-webfont.ttf') format('truetype'),
	url('voyage_regular-webfont.ttf') format('truetype'),
	url('../../assets/fonts/voyage_regular.woff2') format('woff2'),
	url('../../assets/fonts/voyage_regular.woff') format('woff'),	
	url('../../assets/fonts/voyage_regular-webfont.svg#voyageregular')format('svg'),
	url('../../assets/fonts/voyage_regular-webfont.otf') format('opentype');
	}
 
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	box-sizing: border-box;
	background-color: $offwhite;
}

img {
	width: 100%;
	height: auto;
}

h3 {
	font-size: 3em;
	font-family: 'Voyage Regular';
	text-align: center;
	padding: 30px 0;
	font-weight: 300;
}