.menu-item__name {
	float: left;
	color: #555;
	font-weight: bold;
	position: relative;
	z-index: 1;
	background: #fff;
	padding-right: 15px;
	@mixin atLarge {
		background-color: $offwhite;
	}
}
.menu-item__price {
	float: right;
	color: goldenrod;
	font-weight: bold;
	position: relative;
	z-index: 1;
	background: $offwhite;
	padding-left: 15px;
	font-family: "Voyage Regular";
	font-size: 2em;
}

.menu-item__description {
	clear: both;
	display: block;
	color: #999;
	font-size: 14px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	top: -8px;	
	position: relative;
}






