.parallax2{
    background: url('../../assets/images/food-eating-potatoes-beer-8313.jpg')no-repeat fixed 25%;

   z-index:6;
 
    }
    .parallax-inner2{
height:600px;
    }


.menu-section__row{
    padding: 0 5% 0 9%;
    list-style-type: none;
    
}

.menu-section__row:after{
    content: "";
    clear: both;
    display: block;
}

.menu-section__list{
    float:none;
    width:90%;
    margin: 30px 2% 30px 2% !important;
    @mixin atSmall{
        
    }
}

@mixin atSmall{
.menu-section__list{
    float: left;
    width: 44%;
    padding: 0;
    margin: 20px 0 20px 8%;
}

.menu-section__list:nth-child(odd){
    margin: 20px 8% 20px 0;
}
}