.modal{
    position:fixed;
    z-index:10;
    background-color: rgba(255,255,255, .94);
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    visibility:hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;

    &--is-visible {
        opacity:1;
        visibility: visible;
        transform:scale(1);
    }

    &__inner{
        position:absolute;
        width:100%;
    }

&__close{
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer;
    z-index:15;
    &:hover{
        color:goldenrod;
    }
}

&__header{
    display:inline-block;
    font-weight:700;
    font-size:3em;

}

&__label{
    font-size:.8em;
    font-weight:900;
}


}

form{
 width: 90%; 
margin-left:5%;
margin-right:5%;
 @mixin atMedium{
     width:70%;
     margin-left:17%;
margin-right:13%;
 }
 @mixin atLarge{
     width:50%;
        margin-left:30%;
margin-right:20%;
 }  
}

input{
    width:140px;
    height: 44px;
    border:2px solid #999;
    margin-top:10px;
    margin-bottom:20px;
    @mixin atMedium{
        width:240px;
    }
}

input:last-child{
    margin-top:44px;
    background:goldenrod;
    color:white;
    border:none;
    width:100px;
    height:44px;
}

input:last-child:hover{
    cursor:pointer;
}

input:focus {
    border: 2px solid #555;
}



select {
     width: 145px;
     height:48px;
    margin-top:10px;
    border:2px solid #999;
    background-color: white;
    @mixin atMedium{
        width:244px;
    }
}

.box{
    float:left;
    width:50%;
}

#todays-day{
    margin-right:10px;
}

.modal__date{
    font-size:2em;
}

.res-top{
    width:100%;
    margin-bottom:60px;
    margin-top:60px;
    text-align:center;
}