.nav__burger{
  color:white;
  position:absolute;
  top:20px;
  right:20px;
  z-index:8;
  @mixin atMedium{
 display:none;
}
}

.nav__burger:hover{
    color:#555;
}

.nav__row{
     overflow:hidden;
    background:#000;
     height:0;
    position:absolute;
   z-index:5; 
   width:100%;
   top:0;
    list-style-type:none;
@mixin atMedium{
height:40px;
top:10px;
left:-3%;
background:none;
text-align:center;
}
@mixin atLarge{
    top:180px;
    font-weight:700;
    left:8%;
   
}
}

.nav__row--open{
    height:auto;
    padding:20px;
margin-top:0;
}

.nav__list{
    float:none;
    text-align:left;
    width:100%;
    margin:0;
       @mixin atMedium{
       display:inline-block;
         width:auto;
         margin-left:auto;
         margin-right:auto;

       }
}

.nav__row i{
    display:none;
    @mixin atMedium{
        display:inline;
    font-size:10px;
    vertical-align:30%;
    color:#555;
}
}

.nav__link{ 
    color:#fff;
     padding: 10px;
    border-bottom: 1px solid #404040;
    display:block;
    margin:0;
    text-decoration:none;
       @mixin atMedium{
       border:none; 
       
   }
}

.nav__link:hover{
    color:#555;
}




