.parallax {
	display:none;	
		@mixin atMedium{
			display:block;
		 background: url('../../assets/images/pexels-photo-326278.jpeg')no-repeat fixed 50%;
		z-index: 5;
	}
}
.parallax-inner {
	height: 600px;
	color: white;
	text-align: center;
	z-index:5;
	//  padding-top: 10%;
	h2 {
		color: white;
		position: relative;
		top: 50%;
		font-size: 2.5em;
		font-weight: 900;
        letter-spacing:6px;
	}
}

.specials__text-block {
	text-align: center;
	box-sizing: border-box;
	padding: 20px 20px;
	@mixin atLarge {
		padding: 0;
		height: 240px;
	}
}
.specials-heading {
	background:white;
	@mixin atMedium {
		display: none;
	}
}

#specials {
	background-color: white;
	@mixin atLarge {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		display: flex;
		position: relative;
		top: -30px;
		margin-bottom: -70px;
	}
    @mixin atExtraLarge{
         width:68%;
    margin-left: 16%;
    margin-right:16%;
    }
	#specials h3 {
		display: none;
	}
	.menu-item__name {
		float: none;
		top: 0px;
		background: white;
        font-size:1.2em;
        font-weight:700;
        text-transform:uppercase;
        color:black;
		@mixin atLarge{
			top:20px;
		}
		@mixin atExtraLarge{
			top:50px;
		}
	}
	.menu-item__price {
		display: none;
	}
	.menu-item__description {
		font-size: 14px;
		// margin-top: 20px;
		border: none;
		top: 0;
		padding: 20px 50px;
		@mixin atLarge{
			top:20px;
			padding:20px;
		}
		@mixin atExtraLarge{
			top:50px;
		}
	}
	.menu-item__price--lasagna {
		color: goldenrod;
		float: none;
		font-weight: bold;
		position: relative;
		@mixin atLarge{
			bottom:-30px; 
		}
		@mixin atExtraLarge{
			bottom:-30px;
		}
	}
    .menu-item__price--tramezzino {
		color: goldenrod;
		float: none;
		font-weight: bold;
		position: relative;
		@mixin atLarge{
			bottom:-50px;
		}
		@mixin atExtraLarge{
			bottom: -60px;
		}
	}
	.menu-item__price--salad {
		color: goldenrod;
		float: none;
		font-weight: bold;
		position: relative;
		@mixin atLarge{
			bottom: -20px;
		}
		@mixin atExtraLarge{
			bottom: -40px;
		}
	}
	.menu-item__price--spaghetti {
		color: goldenrod;
		float: none;
		font-weight: bold;
		position: relative;
		@mixin atLarge{
			bottom:-30px;
		}
		@mixin atExtraLarge{
			bottom: -46px;
		}
	}
}

#specials ul {
	list-style-type: none;
	display: inline-block;
	@mixin atSmall {
		width: 100%;
	}
	@mixin atLarge {
		display: flex;
		margin-bottom: -4px;
	}
}
#specials img {
	@mixin atLarge {
		height: 240px;
	}
}

#specials ul li{
    @mixin atSmall {    
        width:100%
    }
   @mixin atMedium{
        float: left;
        width: 48%;
        padding: 0;
        margin:0 1% 0 1%;{
            @mixin atLarge{
                margin:0;
                flex-direction:column; 
        }
    }

#specials ul li:nth-child(odd){
    margin:0 1% 0 0;
    @mixin atLarge{
        margin:0;
        flex-direction:column;
        
    }
}
}
    }




 




 