.wrapper{
	@mixin atLarge {
		padding-top: 160px;
		padding-bottom: 160px;
		width: 100%;
		height: 100%;
	}

&::after {
	@mixin atLarge {
		background: url("../../assets/images/background.jpeg") no-repeat fixed center;
		content: "";
		opacity: .7;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		z-index: -1;
	}
}

&__inner {
	max-width: 100%;
	@mixin atLarge {
		background: #fff;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		background-color: $offwhite;
	}
}
}